body {
	text-align: center;
}
h1, h2, h3, h4, h5 {
	color: #646464;
	font-weight: normal;
	line-height: 1.2em;
}
a {
	color: inherit;
}
h1 {
	font-size: 42px;
	margin-top: 1em;
	margin-bottom: 0.6em;
}
#header img {
}
h2 {
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 33px;
}
#screenshots {
	margin-bottom: 4em;
}
	#screenshots ul {
		font-size: 0px;
	}
	#screenshots li {
		display: inline-block;
	}
	#screenshots img {
	}
h3 {
	font-size: 33px;
	margin-top: 2em;
	margin-bottom: 2em;
}
h4 {
	font-size: 28px;
	margin-bottom: 2em;
}
h5 {
	font-size: 28px;
	margin-top: 2em;
	margin-bottom: 2em;
}
