		
		body {
			min-width: 320px;
			font-size: 1em;
		}

/* Header */

	#header {
		position: relative;
		padding: 1.5em 0;
	}
	
		#logo {
			display: block;
			width: 280px;
			height: 86px;
			text-indent: -200%;
			overflow-x: hidden;
			background: url('images/logo1.png');
			background-size: 100% 100%;
		}
			
			#logo a {
				display: block;
				width: 280px;
				height: 86px;
			}
		
		#footer ul.menu li {
			
			margin: 0 .25em;
		}
		
		#footer ul.actions2  {
		
		}
		
		#footer .inner {
			position: relative;
			right: 0;
			bottom: 0;
			text-align: left;
			margin-bottom: 1em;
		}
