{% extends "frontend/base.html" %}

{% load static from staticfiles %}

{% block title %}ShotVibe - {{ album.name }}{% endblock %}

{% block content %}
<div class="row">
  <ul class="breadcrumb">
    <li><a href="{% url "frontend.views.index" %}">Home</a> <span class="divider">/</span></li>
    <li><a href="{% url "frontend.views.index" %}">My Photo Albums</a> <span class="divider">/</span></li>
    <li class="active">{{ album.name }}</li>
  </ul>
</div>

<div class="row">
  <h3>{{ album.name }}</h3>
</div>

<div class="row">
  <div class="span9">
    {% if num_photos_added %}
    <div class="alert alert-success">
      Added {{ num_photos_added }} Photos
    </div>
    {% endif %}
    <ul class="thumbnails">
      {% for photo in photos %}
      <li>
      <a href="{% url "frontend.views.photo" album.id photo.photo_id %}" class="thumbnail">
        {% if photo.is_photo %}
          <img src="{{ photo.get_photo_url_no_ext }}_crop140.jpg" width="140" height="140" alt="">
        {% elif photo.is_video %}
          {% if photo.is_video_processing %}
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/de/Ajax-loader.gif" width="140" height="140" alt="">
          {% elif photo.is_video_invalid %}
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Counter_Vandalism_Unit.svg/64px-Counter_Vandalism_Unit.svg.png" width="140" height="140" alt="">
          {% elif photo.is_video_ready %}
            <video src="{{ photo.get_video_url }}" width="140" height="140" controls>
          {% endif %}
        {% endif %}
      </a>
      </li>
      {% endfor %}
    </ul>

    <form class="form-horizontal well" method="post" enctype="multipart/form-data" action="{% url "frontend.views.album" album.id %}">
      {% csrf_token %}
      <h3>Add Photos</h3>
      <div class="control-group">
        <label class="control-label" for="inputEmail"><strong>Step 1:</strong></label>
        <div class="controls">
          <input name="photo_files" type="file" multiple>
          <span class="help-block">
            To select multiple photos, hold down the <em>Shift</em> or <em>Control</em> key.
          </span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputEmail"><strong>Step 2:</strong></label>
        <div class="controls">
          <input name="add_photos" type="submit" class="btn btn-primary" value="Upload">
        </div>
      </div>
    </form>

<!--
See:
  http://docs.aws.amazon.com/AWSJavaScriptSDK/guide/browser-examples.html
-->
<input type="file" id="file-chooser" />
<button id="upload-button">Upload to S3</button>
<div id="results"></div>

<script type="text/javascript">
  AWS.config.update({
    accessKeyId: '{{ aws_token.credentials.access_key }}',
    secretAccessKey: '{{ aws_token.credentials.secret_key }}',
    sessionToken: '{{ aws_token.credentials.session_token }}'
  });

  var bucket = new AWS.S3({params: {Bucket: 'glance-uploads'}});

  var fileChooser = document.getElementById('file-chooser');
  var button = document.getElementById('upload-button');
  var results = document.getElementById('results');
  button.addEventListener('click', function() {
    var file = fileChooser.files[0];
    if (file) {
      results.innerHTML = 'Uploading...';

      var uniqueName = getUniqueName();
      var key = 'videos/' + {{ user.id }} + '/' + {{ album.id }} + '/' + uniqueName + '.mp4';

      var params = {Key: key, ContentType: file.type, Body: file};
      bucket.upload(params, function (err, data) {
        results.innerHTML = err ? 'ERROR!' : 'UPLOADED.';
        console.log(err);
      });
    } else {
      results.innerHTML = 'Nothing to upload.';
    }
  }, false);

  // From:
  //   http://stackoverflow.com/a/10073788
  function pad(n, width, z) {
    z = z || '0';
    n = n + '';
    return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
  }

  function getUniqueName() {
    var d = new Date();
    var dateStr =
      d.getUTCFullYear() + '-' +
      pad(d.getUTCMonth() + 1, 2) + '-' +
      pad(d.getUTCDate(), 2) + 'T' +
      pad(d.getUTCHours(), 2) + ':' +
      pad(d.getUTCMinutes(), 2) + ':' +
      pad(d.getUTCSeconds(), 2) + '.' +
      d.getUTCMilliseconds() + 'Z';

    // From:
    //   http://stackoverflow.com/a/19964557
    var randomLen = 16;
    var randomStr = (Math.random().toString(36)+'00000000000000000').slice(2, randomLen+2);

    return dateStr + '$' + randomStr;
  }
</script>


  </div>
  <div class="span3">
    <div class="well">
      <h4>Album Members</h4>
      <ul class="media-list">
        <li class="text-center">
        <a class="btn btn-primary" href="{% url "frontend.views.album_members" album.id %}">+ Add Friends</a>
        </li>
        {% for member in members %}
        <li class="media">
        <div class="pull-left">
          <img class="media-object" src="{% static "frontend/img/ndt.png" %}" width="32" height="32" alt="">
        </div>
        <div class="media-body">
          <strong>{{ member }}</strong>
        </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
