{% extends "frontend/base.html" %}

{% load static %}
{% load bootstrap_toolkit %}

{% block extra_js %}
<script src="{% static "vendor/jquery-1.11.0.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
{{ form.media }}
{% endblock %}

{% block content %}

<h3>
	<a href="{% url "affiliates.views.organization" organization.code %}">{{ organization.code }}</a>
	-
	<a href="{% url "affiliates.views.event_edit" organization.code event.id %}">{{ event.name }}</a>
	-
	Reports
</h3>

{% include "affiliates/event/partials/menu.html" with active="reports" %}

{% endblock %}
