html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}body{-webkit-text-size-adjust:none}

body
{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 17pt;
	color: #282828;
	line-height: 1.5em;
	text-align: center;
	letter-spacing: -1px;
}

strong
{
	font-weight: 400;
}

a
{
	color: #282828;
}

.button
{
	display: inline-block;
	color: #fff;
	text-decoration: none;
	background: #ba3b77;
	background-image: url('images/overlay.png'), -moz-linear-gradient(top, #ba3b77, #a02055);
	background-image: url('images/overlay.png'), -webkit-linear-gradient(top, #ba3b77, #a02055);
	background-image: url('images/overlay.png'), -o-linear-gradient(top, #ba3b77, #a02055);
	background-image: url('images/overlay.png'), -ms-linear-gradient(top, #ba3b77, #a02055);
	background-image: url('images/overlay.png'), linear-gradient(top, #ba3b77, #a02055);
	padding: 0.5em 1.75em 0.5em 1.5em;
	border-radius: 0.35em;
	box-shadow: inset 0px 0px 0px 1px #8a1748, inset 0px 2px 1px 0px #ff94d0;
	font-weight: 400;
	text-shadow: -1px -1px 0px rgba(0,0,0,0.5);
}

	.button:before
	{
		content: '';
		display: inline-block;
		width: 24px;
		height: 24px;
		background: url('images/sprites.png');
		background-size: 116px 63px;
		position: relative;
		top: 0.25em;
		margin-right: 0.25em;
	}

	.button.iphone:before
	{
		background-position: 0px -40px;
	}

	.button.android:before
	{
		background-position: -24px -40px;
	}

#header
{
	background: #5d98bd;
	background-image: url('images/overlay.png'), -moz-linear-gradient(top, #5d98bd, #2c6291);
	background-image: url('images/overlay.png'), -webkit-linear-gradient(top, #5d98bd, #2c6291);
	background-image: url('images/overlay.png'), -o-linear-gradient(top, #5d98bd, #2c6291);
	background-image: url('images/overlay.png'), -ms-linear-gradient(top, #5d98bd, #2c6291);
	background-image: url('images/overlay.png'), linear-gradient(top, #5d98bd, #2c6291);
	color: #fff;
	font-weight: 400;
	text-shadow: -1px -1px 0px rgba(0,0,0,0.5);
	padding: 1.25em 1em 1.25em 1em;
}

	#header strong
	{
		font-weight: 600;
	}

	#header p
	{
		margin: 0 0 0.5em 0;
	}

	#header h1
	{
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		width: 116px;
		height: 40px;
		margin: 0 auto;
		background: url('images/sprites.png');
		background-size: 116px 63px;
	}

#photos
{
	background: #000;
	width: 100%;
	height: 192px;
	overflow-y: hidden;
	overflow-x: scroll;
	margin: 0 0 2em 0;
	-webkit-overflow-scrolling: touch;
	white-space: nowrap;
}

	#photos .reel
	{
		height: 192px;
	}

	#photos .reel .image
	{
		position: relative;
		display: inline-block;
		margin-right: -4px; /* See: http://css-tricks.com/fighting-the-space-between-inline-block-elements/ */
		height: 192px;
		overflow: hidden;
	}

		#photos .reel .image img
		{
			height: 192px;
		}

		#photos .reel .image.last img
		{
			-webkit-filter: blur(2px);
		}

		#photos .reel .image .overlay
		{
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.75);
			color: #fff;
			padding: 1.15em 0 0 0;
			z-index: 1;
		}

			#photos .reel .image .overlay p
			{
				margin: 0 0 0.5em 0;
			}

#about
{
	padding: 0 2em 0 2em;
	margin: 0 auto 2em auto;
}

#screenshots
{
	width: 320px;
	height: 288px;
	background-size: 320px 288px;
	overflow: hidden;
	margin: 0 auto 2em auto;
	position: relative;
}

	#screenshots .screen
	{
		position: absolute;
		z-index: 1;
		overflow-y: hidden;
		overflow-x: scroll;
	}

		#screenshots .reel
		{
			position: relative;
			left: 0;
			top: 0;
		}

			#screenshots .reel .image
			{
				position: relative;
				display: block;
				float: left;
			}

				#screenshots .reel .image img
				{
				}

#screenshots.iphone
{
	background-image: url('images/iphone.jpg');
}

	#screenshots.iphone .screen
	{
		left: 107px;
		top: 84px;
		width: 156px;
		height: 204px;
	}

		/* 156px * number of screenshots */
		#screenshots.iphone .reel
		{
			width: 624px;
			height: 204px;
			animation: iphone 12000ms infinite;
			-moz-animation: iphone 12000ms infinite;
			-webkit-animation: iphone 12000ms infinite;
			-o-animation: iphone 12000ms infinite;
			-ms-animation: iphone 12000ms infinite;
		}

		@-webkit-keyframes iphone
		{
			0%		{ left: 0px; }
			28%		{ left: 0px; }

			33%		{ left: -156px; }
			61%		{ left: -156px; }

			66%		{ left: -312px; }
			95%		{ left: -312px; }

			100%	{ left: -468px; }
		}

			#screenshots.iphone .reel .image
			{
				height: 204px;
			}

				#screenshots.iphone .reel .image img
				{
					height: 204px;
				}

#screenshots.android
{
	background-image: url('images/android.jpg');
}

	#screenshots.android .screen
	{
		left: 102px;
		top: 63px;
		width: 170px;
		height: 225px;
	}

		/* 170px * number of screenshots */
		#screenshots.android .reel
		{
			width: 680px;
			height: 225px;
			animation: android 12000ms infinite;
			-moz-animation: android 12000ms infinite;
			-webkit-animation: android 12000ms infinite;
			-o-animation: android 12000ms infinite;
			-ms-animation: android 12000ms infinite;
		}

		@-webkit-keyframes android
		{
			0%		{ left: 0px; }
			28%		{ left: 0px; }

			33%		{ left: -170px; }
			61%		{ left: -170px; }

			66%		{ left: -340px; }
			95%		{ left: -340px; }

			100%	{ left: -510px; }
		}

			#screenshots.android .reel .image
			{
				height: 225px;
			}

				#screenshots.android .reel .image img
				{
					height: 225px;
				}

#cta
{
	margin: 0 0 2em 0;
	padding: 0 1em 0 1em;
}

	#cta p
	{
		margin: 1em 0 0 0;
		font-size: 0.8em;
	}

	#cta .button
	{
		display: block;
	}

#footer
{
	font-size: 0.8em;
	border-top: solid 1px #ddd;
	margin: 2em 1em 2em 1em;
	padding: 2em 0 0 0;
}
